 body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: hsl(0, 0%, 0%);
      scroll-behavior: smooth;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #f2c14e;
      color: white;
      position: sticky;
      top: 0;
      z-index: 100;
    }
    nav a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-weight: 600;
    }
    nav a:hover {color: black;} 
    .hero {
      height: 100vh;
      background: url('Screenshot 2025-12-04 170112.png') center/cover no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color:  #f2f1ef;
      text-shadow: 0 0 15px black;
    }
    .hero h1 {
      font-size: 60px;
      margin: 0;
      animation: fadeIn 2s;
    }
    .hero button {
      padding: 15px 30px;
      font-size: 18px;
      border: none;
      background: #f2c14e;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 20px;
      transition: 0.3s;
    }
    .hero button:hover { transform: scale(1.1); }

    section {
      padding: 70px 5%;
    }

    .menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
    .menu .item {
      background: #f2c14e;
      padding: 20px;
      border-radius: 15px;
      color: rgb(0, 0, 0);
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      text-align: center;
      transition: 0.3s;
        cursor: pointer;
        width: 50%;
        height: 100%;
        margin: auto;

    }
    .menu .item:hover {
      transform: translateY(-10px) scale(1.05);
    }

    .about-container {
      display: flex;
      gap: 40px;
      align-items: center;
      flex-wrap: wrap;
    }
    .about-container img {
      width: 400px;
      border-radius: 20px;
      box-shadow: 0 4px 14px rgba(0,0,0,0.15);
    }
    .about-container div {
      flex: 1;
      color: white;
    }
    .about-container button {
        padding: 15px 30px;
        font-size: 18px;
        border: none;
        background: #f2c14e;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
        transition: 0.3s;
        display: flex;
        gap: 20px;
    }
    .about-container button:hover { transform: scale(1.1); }

    footer {
      text-align: center;
      padding: 25px;
      background: #f2c14e;
      color: white;
    }
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
   